body{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.container{
 margin-top: 50px;
 text-align: center;
 outline: none;
 border : none;
 background-color: rgb(117, 117, 115);
 width: 100%;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius:50%;
    align-items: center;
    display: block;
    margin: auto;
}
.card_body{
 padding: 5px;
 text-align: center;
 font-family: cursive;
}
.btn{
    background-color: rgb(48, 131, 240);
    color: white;
    outline: none;
    border: none;
    padding: 4px;
    transition: all backward;
    
}
.btn:hover{
  color: white;
  transform: translateX(2%)

}
